{% extends 'base.html.twig' %}

{% block title %}Modifier son profil utilisateur
{% endblock %}

{% block body %}
	<h1 class="text-center">Modifier son profil utilisateur</h1>
	<div class="container  ">
		<div class="row justify-content-xl-center justify-content-md-center justify-content-sm-center">
			<div class="col-xl-5 col-lg-5 col-md-8 col-sm-12 formLogin">
				<form method="post">
					<h1 class="h3 mb-3 font-weight-normal text-center">Bonjour
						{{ app.user.pseudoUser }}</h1>
					<img src="{{ user.photoUser | raw}}" alt="photoUser">
                    <input type="file" name="" id="">
					<p class=" mb-3 font-weight-normal text-center">Vous pouvez éditer votre profil ici</p>
					<select name="Votre civilité" id="pet-select" class="form-control"><br>
						<option value="{{ user.civilityUser ? 'Yes' }}">Monsieur</option>
						<option value="{{ user.civilityUser ? 'No' }}">Madame</option>
						<label for="inputEmail">Modifier mon E-mail</label>
						<input type="email" value="{{user.email }}" name="email" id="inputEmail" class="form-control" required autofocus>
						<label for="">Modifier mon prénom</label>
						<input type="text" value="{{user.firstNameUser}}" class="form-control">
						<label for="">Modifier mon nom</label>
						<input type="text" value="{{user.lastNameUser}}" class="form-control">
						<label for="">Modifier ma date d'anniversaire</label>
						<input type="date" value="{{ user.birthdayDateUser ? user.birthdayDateUser|date('Y-m-d') : '' }}" class="form-control">
						<label for="">Modifier mon numéro de téléphone</label>
						<input type="text" value="{{ user.phoneUser }}" class="form-control">
						<label for="">Modifier mon adresse</label>
						<input type="text" value="{{ user.adressUser }}" class="form-control">
						<label for="">Modifier ma ville</label>
						<input type="text" value="{{ user.cityUser }}" class="form-control">
						<label for="">Modifier mon code postal</label>
						<input type="text" value="{{ user.postalCodeUser }}" class="form-control">
						<label for="">Modifier mon pseudo</label>
						<input type="text" value="{{ user.pseudoUser }}" class="form-control">
						<a href="{{ path('user_edit', {'id': user.id}) }}">
							<button class="btn btn-primary  btn-block btnLogin" type="submit">
								Modifier mon profil
							</button>
						</a>
					</form>
				</div>
			</div>
		</div>


		<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
		<td>{{ user.civilityUser ? 'Yes' : 'No' }}</td>
		<td>{{ user.pseudoUser }}</td>
		<td>
			<a href="{{ path('user_show', {'id': user.id}) }}">Montrer</a>
			<a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
		</td>
	</tr>


	<a href="{{ path('user_index') }}">Retour à la liste</a>

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
