{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    <h1>Edit User</h1>
	<div class="formEdit">
{{ form_start(form) }}


    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}


    <a href="{{ path('user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
	{{ form_end(form) }}
	</div>
{% endblock %}