{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>IsVerified</th>
                <th>FirstNameUser</th>
                <th>LastNameUser</th>
                <th>PhotoUser</th>
                <th>BirthdayDateUser</th>
                <th>PhoneUser</th>
                <th>AdressUser</th>
                <th>CityUser</th>
                <th>PostalCodeUser</th>
                <th>CivilityUser</th>
                <th>RegistrationDateUser</th>
                <th>PseudoUser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ user.firstNameUser }}</td>
                <td>{{ user.lastNameUser }}</td>
                <td><img src="{{ user.photoUser | raw}}" alt="photoUser"></td>
                <td>{{ user.birthdayDateUser ? user.birthdayDateUser|date('Y-m-d') : '' }}</td>
                <td>{{ user.phoneUser }}</td>
                <td>{{ user.adressUser }}</td>
                <td>{{ user.cityUser }}</td>
                <td>{{ user.postalCodeUser }}</td>
                <td>{{ user.civilityUser ? 'Yes' : 'No' }}</td>
                <td>{{ user.registrationDateUser ? user.registrationDateUser|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.pseudoUser }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
